body {
	background-color: #ccc33;
	width: 100vw;
	height: 100vh;
	font: 50vw "Century Gothic", Futura, sans-serif;
	text-align: center;
}

#root {
	width: 100vw;
	height: 100vh;
}

#paragraph_div {
	width: 60%;
	height: 100%;
	margin-right: auto; 
	margin-left: auto;
}

p {
	text-align: left;
	font-size: 1.3vw;
	text-indent: 2vw;
	font-family: "Times New Roman", Times, serif;
}

.p_describe_pyBullet_ddpg {
	text-align: left;
        font-size: 1.3vw;
        text-indent: 2vw;
        font-family: "Times New Roman", Times, serif;
	margin-top: 6vh;
	vertical-align: top;
}

h1 { 
	font-size: 2.5vw;
	font-family: "Times New Roman", Times, serif;
}

.HeaderVideoContainer {
	width: 100%;
	height: 50%;
}

.HeaderVideo {
	padding-top: 0%;
	margin-left: auto;
    	margin-right: auto;
	padding-bottom: 5%;
}

iframe { 
	vertical-align: top;
	padding-top: 5vh;
}

.results_image {
	width: 75vw;
}

.results_gif {
	width: 50vw;
}

.intrusion_gif { 
	width: 40vw;
	height: 50vh;
}

.kbd-navigation .square:focus {
	background: #ddd;
}

.topnav {
 	background-color: #333;
 	overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  height: 30%;
}

.column {
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
  width: 100%;
}

.column img {
  margin-top: 1vh;
  vertical-align: top;
  width: 100%;
  height: auto;
}

.column_for_intrusion_gif {
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
  width: 100%;
}

.column_for_intrusion_gif img {
  margin-top: 1vh;
  vertical-align: top;
  width: 50%;
  height: 80%;  
}

.column_for_pybullet_gif {
  flex: 25%;
  max-width: 100%;
  padding: 0 4px;
  width: 100%;
}

.column_for_pybullet_gif img {
  margin-top: 5vh;
  vertical-align: top;
  width: 50%;
  height: 80%;
}


.TDynamics_Link[href], .RFT_Link[href], .paper_link[href] { 
	color: blue;
}



